
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  height: 100%;
  width: 280px;
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

.sidebar.hide {
  width: 60px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo i {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  margin-left: 6px;
  background: transparent;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  position: relative;
  background: var(--grey);
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  top: -40px;
  z-index: -1;
  box-shadow: 20px 20px 0 var(--grey);
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  right: 0;
  bottom: -40px;
  z-index: -1;
  box-shadow: 20px -20px 0 var(--grey);
}

.sidebar .side-menu li a {
  height: 100%;
  width: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

.sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: 0.3s ease;
}

.sidebar .side-menu li.active a {
  color: var(--blue);
}

.sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

.sidebar .side-menu li a.logout {
  color: var(--red);
}

.sidebar .side-menu li a i {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

